* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-family: "SE Inter", "Space Grotesk", Helvetica, sans-serif;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 55px;
    z-index: 1000;
    background-color: white;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #1b4d7a;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
}

.dropbtn.active {
    text-decoration: underline;
}

.dropdown-content {
    margin-top: 3px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid black;
    border-top: none;
}

.dropdown-content a {
    float: none;
    color: #1b4d7a;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    min-width: 100px;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
}

.content {
    top: 55px;
    position: relative;
    width: 100%;
    border: none;
}

.recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.short_recipe_info{
    display: flex;
    align-items: flex-start;
    margin: 1% 1% 1% 1%;
    min-width:  400px;
    width: 31%;
    padding-bottom: 16%;
    height: 300px;
    border: 1px solid black;
}

.short_recipe_info .dish{
    margin: 25px 25px 25px 25px;
    width: 40%;
}

.short_recipe_info img[alt="clock"]{
    height: 25px;
}

.short_recipe_info img[alt="calories"]{
    height: 25px;
}



.short_recipe_info h1{
    font-size: 36px;
    margin-top: 25px;
}

.box {
    width: 100%;
    height: 85vh;
    position: relative;
    background: #ffdedc;
    background-image: url('img/people_home.jpg');
    background-repeat: no-repeat;
    background-position: center;;
    background-size: contain;
    overflow: hidden;
}

.box b {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background-image: url('img/pizza.png');
    background-size: cover;
    position: absolute;
    -webkit-animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
    -moz-animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
    -o-animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
    animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
}

.product_full {
    position: relative;
    margin: 10px 10px 10px 10px;
    top: 100px;
}

.product_full img {
    width: 30%;
    height: auto;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.product_full p {
    font-size: 14px;
    width: 70%;
}


.footer{
    margin-top: 55px;
    padding-left: 15px;
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
    font-family: "SE Inter", "Space Grotesk", Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
}

@-webkit-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@-moz-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@-o-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@-webkit-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);;
    }
}

@-moz-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);;
    }
}

@-o-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);;
    }
}

@keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);;
    }
}