* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-family: "SE Inter", "Space Grotesk", Helvetica, sans-serif;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background-color: white;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: #1b4d7a;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
}

.dropbtn.active {
    text-decoration: underline;
}

.dropdown-content {
    margin-top: 7px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid black;
    border-top: none;
}

.dropdown-content a {
    float: none;
    color: #1b4d7a;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    min-width: 100px;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
}

.content {
    top: 70px;
    position: relative;
    width: 100%;
    border: none;
    
}

.recipes {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin: 1rem 0 .5rem 0;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}

@media (min-width: 500px) {
    .recipes .short_recipe_info {
        flex-basis: 49%;
        max-width: 49%;
        width: auto;
    }
}


@media (min-width: 800px) {
    .recipes .short_recipe_info {
        flex-basis: 32%;
        max-width: 32%;
        width: auto;
    }
}

@media (min-width: 1100px) {
    .recipes .short_recipe_info {
        flex-basis: 24%;
        max-width: 24%;
    }
}


.short_recipe_info {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    font-family: Arial, sans-serif;
    width: auto;
    max-width: 500px;
    font-size: 15px;
    line-height: 2.5em;
    border-radius: 10px;
    font-weight: 400;
    overflow-wrap: break-word;
    overflow: hidden;
}

.short_recipe_info .dish {
    width: 100%;
}

.recipe_content {
    width: 100%;
    padding: 5px;
}

.short_recipe_info .recipe_content .title_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.short_recipe_info .title_div h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
    
    margin-right: 15px;
}

.short_recipe_info .title_div .time {
    display: flex;
    align-items: center;
}

.short_recipe_info .title_div .time p {
    font-size: 1rem;
    margin-bottom: 0;
}

.short_recipe_info img[alt="clock"] {
    height: 1rem;
    margin-right: 5px;
}

.box {
    width: 100%;
    height: 85vh;
    position: relative;
    background-image: url('img/people_home.jpg');
    background-repeat: no-repeat;
    background-position: center;;
    background-size: contain;
    background-color: #ffdedc;
    overflow: hidden;
    padding: 15px;
}

.box b {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background-image: url('img/pizza.png');
    background-size: cover;
    position: absolute;
    -webkit-animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
    -moz-animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
    -o-animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
    animation: moveX 6s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
}

.product_full {
    position: relative;
    margin: 10px 10px 10px 10px;
    top: 100px;
}

.product_full img {
    width: 30%;
    height: auto;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.product_full p {
    font-size: 14px;
    width: 70%;
}

@-webkit-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@-moz-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@-o-keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 150px);
    }
}

@-webkit-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);
    }
}

@-moz-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);
    }
}

@-o-keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);
    }
}

@keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(85vh - 150px);
    }
}

.contact{
    top: 70px;
    position: relative;
    width: 100%;
    padding: 10px;
    min-height: 90vh;
}


form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group .full-width {
    width: 100%;
}

.form-row .form-group {
    width: 48%;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 100px;
}

.required {
    color: red;
}

.footer{
    margin-top: 70px;
    padding-left: 15px;
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
    font-family: "SE Inter", "Space Grotesk", Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
}